* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section {
  margin: 2em;
}
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 2em;
  padding: .5em;
  border-radius: .5em;
  text-decoration: none;
  background-color: #005999;
  color: #66bfff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  color: #33a9ff;
  background-color: #0076cc;
}
.btn:active {
  background-color: #005999;
  color: #66bfff;
}
.btn-warning {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 2em;
  padding: .5em;
  border-radius: .5em;
  text-decoration: none;
  background-color: #ffab00;
  color: #ff2b00;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  white-space: nowrap;
}
.btn-warning:hover {
  color: #33a9ff;
  background-color: #0076cc;
}
.btn-warning:active {
  background-color: #ffab00;
  color: #ff2b00;
}
.btn-danger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 2em;
  padding: .5em;
  border-radius: .5em;
  text-decoration: none;
  background-color: #ff2b00;
  color: #ffab00;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  white-space: nowrap;
}
.btn-danger:hover {
  color: #33a9ff;
  background-color: #0076cc;
}
.btn-danger:active {
  background-color: #ff2b00;
  color: #ffab00;
}
.btn-info {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 2em;
  padding: .5em;
  border-radius: .5em;
  text-decoration: none;
  background-color: #d4ff00;
  color: #0094ff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  white-space: nowrap;
}
.btn-info:hover {
  color: #33a9ff;
  background-color: #0076cc;
}
.btn-info:active {
  background-color: #d4ff00;
  color: #0094ff;
}
.tbl1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.tbl1 thead th {
  background-color: #005999;
  color: #66bfff;
  padding: .3em .3em .3em .3em;
  line-height: 1.6em;
}
.tbl1 tbody tr {
  background-color: #66bfff;
  color: #005999;
}
.tbl1 tbody tr td {
  padding: .3em;
}
.tbl1 tfoot tr {
  line-height: 1.6em;
  background-color: #005999;
  color: #66bfff;
}
.tbl1 tfoot tr td {
  padding: .3em;
}
.tbl2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.tbl2 thead th {
  background-color: #005999;
  color: #66bfff;
  padding: .3em .3em .3em .3em;
  line-height: 1.6em;
}
.tbl2 tbody tr {
  background-color: #66bfff;
  color: #005999;
}
.tbl2 tbody tr td {
  padding: .3em;
}
.tbl2 tfoot tr {
  line-height: 1.6em;
  background-color: #005999;
  color: #66bfff;
}
.tbl2 tfoot tr td {
  padding: .3em;
}
.tbl2 tbody tr:nth-child(even) {
  background-color: #99d4ff;
}
.tbl3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.tbl3 thead th {
  background-color: #005999;
  color: #66bfff;
  padding: .3em .3em .3em .3em;
  line-height: 1.6em;
}
.tbl3 tbody tr {
  background-color: #66bfff;
  color: #005999;
}
.tbl3 tbody tr td {
  padding: .3em;
}
.tbl3 tfoot tr {
  line-height: 1.6em;
  background-color: #005999;
  color: #66bfff;
}
.tbl3 tfoot tr td {
  padding: .3em;
}
.tbl3 thead tr th:first-child {
  padding-left: .6em;
  border-top-left-radius: .3em;
}
.tbl3 thead tr th:last-child {
  padding-right: .6em;
  border-top-right-radius: .3em;
}
.tbl3 tbody tr td:first-child {
  padding-left: .6em;
}
.tbl3 tbody tr td:last-child {
  padding-right: .6em;
}
.tbl3 tfoot tr td:first-child {
  padding-left: .6em;
  border-bottom-left-radius: .3em;
}
.tbl3 tfoot tr td:last-child {
  padding-right: .6em;
  border-bottom-right-radius: .3em;
}
.tbl4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.tbl4 thead th {
  background-color: #005999;
  color: #66bfff;
  padding: .3em .3em .3em .3em;
  line-height: 1.6em;
}
.tbl4 tbody tr {
  background-color: #66bfff;
  color: #005999;
}
.tbl4 tbody tr td {
  padding: .3em;
}
.tbl4 tfoot tr {
  line-height: 1.6em;
  background-color: #005999;
  color: #66bfff;
}
.tbl4 tfoot tr td {
  padding: .3em;
}
.tbl4 tbody tr:hover {
  background-color: #99d4ff;
}
.frm {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.frm ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.frm ul li {
  margin-bottom: .5em;
  padding: .3em;
  flex-direction: row;
  flex-flow: wrap;
  display: flex;
}
.frm ul li label {
  width: 20%;
  line-height: 2em;
  padding-right: 1em;
  text-align: right;
  flex-shrink: 1;
}
.frm ul li input:not([type='checkbox']) {
  flex-grow: 1;
  width: 40%;
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2.5em;
  border: 2px solid #66bfff;
}
.frm ul li select {
  flex-grow: 1;
  width: 40%;
  padding: 4px;
  border: 2px solid #66bfff;
}
.frm ul li input[type='checkbox'] {
  width: 2em;
  height: 2em;
}
.frm ul li textarea {
  flex-grow: 1;
  width: 40%;
  min-height: 6em;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #66bfff;
}
.frm ul li div {
  flex-shrink: 1;
  padding-left: 1em;
  width: 40%;
  font-size: .8em;
  color: #4d4d4d;
}
.frm ul li:nth-Child(even) {
  background-color: #99d4ff;
}
/*# sourceMappingURL=Components.css.map */