@import '../Parameters/Components.less';
@import '../Functions/Functions.less';
.form-addin-alternate(@cl_bg){
    ul{
        li:nth-Child(even){
            background-color:@cl_bg;
        }
    }
}
.form() {
    font-family: @fnt_forms;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin-bottom: .5em;
            padding:.3em;
            flex-direction:row;
            flex-flow:wrap;
            display:flex;
            label {
                //display: inline-block;
                width: 20%;
                line-height: 2em;
                padding-right: 1em;
                text-align: right;
                flex-shrink:1;
            }

            input:not([type='checkbox']) {
                flex-grow:1;
                //display: inline-block;
                width: 40%;
                padding: 4px;
                -webkit-appearance: none;
                -moz-appearance: none;
                height:2.5em;
                border: 2px solid @cl_shade1;
            }
            select{
                flex-grow:1;
                //display: inline-block;
                width: 40%;
                padding: 4px;
                border: 2px solid @cl_shade1;
            }
            input[type='checkbox']{
                width:2em;
                height:2em;
            }

            textarea {
                flex-grow:1;
                //display: inline-block;
                width: 40%;
                min-height: 6em;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 2px solid @cl_shade1;
            }
            div{
                flex-shrink:1;
                padding-left:1em;
                width:40%;
                font-size:.8em;
                color:@cl_text_lighter1;
            }
        }
    }
}
